/* src/style/Home.css */

.home-container {
  margin: 0 auto;
  padding: 1rem;
}

/* On smaller screens, use the full width */
@media (max-width: 820px) {
  .home-container {
    max-width: 100%;
    padding: 0.5rem;
  }
}

.posts-list {
  margin-top: 1.5rem;
}
