.divider {
  position: relative;
  text-align: center;
  margin: 1rem 0;
}

.divider span {
  position: relative;
  z-index: 1;
  padding: 0 0.5rem;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
}